cpu54/
cpu/cpu.cache/
cpu/cpu.hw/
cpu/cpu.runs/
cpu/cpu.sim/
cpu/cpu.xpr
cpu/cpu.ip_user_files/
cpu/cpu.srcs/sources_1/ip/dist_mem_gen_0/
*.xlsx
*.out
tests_data/
*.txt
*_stub.v
*_netlist.v
*.vhdl
*.dcp
*.xci
*.xml
*.veo
*.vdc
*.vho
*.txt
*.vhd
*.xdc
*.mif
*.coe